<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>
  <body>
    <div class="container">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="row">
        <img class="col s8 offset-s2 center-align" src="static/logo-light.png">
      </div>
      <div class="row">
        <h5 class="col s8 offset-s2 center-align">Log in to report an Incident</h2>
      </div>
      <div class="row">
        <a class="col s6 offset-s3 center-align" href="/login/federated/google">
          <img src="static/btn_google_signin_light_normal_web.png">
        </a>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>